@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #8B8A8B;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
    width: 754px;
    height: 38px;
    margin-top: 77px;
}

h1,
h2 {

    margin: 0 auto 40px;
}

.header {
    background-color: #FCDB00;
}

.head {
    overflow: hidden;
}

.head>div {
    width: 33.33333%;
    float: left;
}

.social {
    text-align: right;
}

.logo,
.content,
.footer {
    text-align: center;
}

.title {
    color: #010101;
    text-align: center;
    width: 754px;
    margin: 100px auto;
}

.description {
    text-align: center;
    font-size: 27px;
    line-height: 40px;

}
ul
{
    overflow: hidden;
    margin:0 auto;
    
}

li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}


.content,
.content>div {
    background-color: #ffffff;
    color: #010101;

}

.contentnaya_oblast {
    overflow: hidden;

}

.contentnaya_oblast>div {
    width: 33.33333%;
    float: left;

}

.co1>p,
.co2>p,
h3 {
    width: 270px;
    line-height: 27px;
}

h3 {
    margin: 0 150px 20px 0px;
    line-height: 35px;
}

p {
    width: 754px;
    height: 102px;
    margin: 0 auto 40px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 75px 0;
}

.container2>h2 {
    color: #FCDB00;
    width: 1140px;
    height: 38px;
    margin: 0 auto 40px;
    padding-top: 77px;
}

.footer {
    background-color: #010101;
}

input[type="email"] {
    width: 560px;
    height: 50px;
    margin: 0 20px 80px 343px;
    float: left
}

input[type="button"] {
    background-color: #FCDB00;
    width: 174px;
    height: 50px;
    margin: 0 auto 80px;
}

.foot2,
.foot3,
.foot4,
.foot5 {
    /* width:77px; */
    height: 155px;
    padding: 0 50px;
}

.foot {
    overflow: hidden;
    /* width: 1440px;
    height: 740px; */
    margin: 0 150px;
}

.foot>div {
    width: 20%;
    float: left;
}

.foot1 {
    width: 367px;
    height: 155px;
}