* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    width: 1440px;
}

.head
{
    height: 154px;
}



.head>h2 
{
    font-size: 48px;
    width: 754px;
    height: 48px;
    margin: 94px auto 40px;
    

}

.head>div {
    width: 33%;
    float: left;
}

.head
{
    overflow: hidden;
}


.first,
.footer,
.head
{
    height: 740px;
}

.footer>h2,
.content>h2
 {
    font-size: 40px;
    margin: 0 auto;
}

.head>p,
.content>p {
    color: #000000;
   
}

.first {
    background-color: #FCDB00;
}
.content {
    height: 872px;
    background-color: #FFFFFF;
}
.footer {
    background-color: #010101;
}

.footer>h2,
.footer>p {
    color: #8B8A8B;
}
.first p
{
    width: 754px;
    height: 102px;
    margin:0px auto;
}
.kar> img
{
    padding: 0 599px 0;
}
