*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    }

  
body
{
    font-family:"PT Sans", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    width: 1440px;

}

head>h2
{
    font-size: 48px;
    width: 754px;
    height: 48px;
    padding:0 auto;
    margin:94px auto 40px;

}

.head,
.footer
{
    height: 740px;
}

.footer>h2,.content>h2
    {
        font-size: 40px;
        margin:0 auto;
    }

.head>p,.content>p
{
    color:#000000;
}

.head
{
    background-color: #FCDB00;
    
}

.head>div
{
    width: 33%;
}


.content
{
    height: 872px;
    background-color: #FFFFFF;
}

.footer
{
 background-color: #010101;
 }

 .footer>h2,.footer>p
 {
    color:#8B8A8B;
    margin:0 auto;
 }
 .first
 {
     float:left;
    overflow: hidden; }

