@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #8B8A8B;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
    width: 754px;
    height: 102px;
    margin-top: 77px;
}

h1,
h2 {
    margin-bottom: 40px;
}

.header {
    background-color: #FCDB00;
}

.head {
    overflow: hidden;
}

.head>div {
    width: 33.33333%;
    float: left;
}

.social {
    text-align: right;
}

.logo,
.content,
.footer {
    text-align: center;
}

.title {
    color: #010101;
    text-align: center;
    width: 754px;
    margin: 100px auto;
}

.description {
    text-align: center;
    font-size: 27px;
    line-height: 40px;

}


.content,
.content>div {
    background-color: #ffffff;
    color: #010101;

}

.contentnaya_oblast {
    overflow: hidden;

}

.contentnaya_oblast>div {
    width: 33.33333%;
    float: left;

}

.co1>p,
.co2>p,
h3 {
    width: 270px;
    /* text-align: center; */
    line-height: 27px;
    margin: 0 150px 0px;

}

h3 {
    margin: 0 150px 20px;
    line-height: 35px;
}

.footer {
    background-color: #010101;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 75px 0;
}